name: Release

on:
  push:
    tags:
      - v[0-9]+*

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit
